<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-credentials">
                    <div class="panel-body">
                        <h2 class="text-center">Create a new event</h2>
                        <hr />
                        <div id="form-event-title" class="form-group">
                            <input type="text" placeholder="Title" id="event-title" class="form-control">
                        </div>
                        <div id="form-event-category" class="form-group">
                            <input type="text" placeholder="Category" id="event-category" class="form-control">
                        </div>
                        <div id="form-event-date" class="form-group">
                            <input type="text" placeholder="Date (MM/dd/yyyy, example: 5 24 2014)" id="event-date" class="form-control">
                        </div>
                        <div id="form-event-users" class="form-group">
                            <input type="text" placeholder="Users (Separated by COMMAS)" id="event-users" class="form-control">
                        </div>
                        <div id="form-event-description" class="form-group">
                            <textarea name="event-description" placeholder="Description" class="form-control" id="event-description" cols="30" rows="3"></textarea>
                        </div>
                        <div class="text-center">
                            <button id="btn-create-event" type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>