<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-credentials">
                    <div class="panel-body">
                        <h2 class="text-center">Sign In</h2>
                        <hr />
                        <div id="form-login-username" class="form-group">
                            <input type="text" placeholder="Username" id="login-username" class="form-control">
                        </div>
                        <div id="form-login-password" class="form-group">
                            <input type="password" placeholder="Password" id="login-password" class="form-control">
                        </div>       
                        <div class="text-center">
                            <button id="btn-login" type="button" class="btn btn-success">Submit</button>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>