<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-credentials">
                    <div class="panel-body">
                        <h2 class="text-center">Register</h2>
                        <hr />
                        <div id="form-register-username" class="form-group">
                            <input type="text" placeholder="Username" id="register-username" class="form-control">
                        </div>
                        <div id="form-register-password" class="form-group">
                            <input type="password" placeholder="Password" id="register-password" class="form-control">
                        </div>
                        <div id="form-register-confirm-password" class="form-group">
                            <input type="password" placeholder="Confirm password" id="register-confirm-password" class="form-control">
                        </div>                        
                        <div class="text-center">
                            <button id="btn-register" type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>