<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Our users</h1>
            <hr />
            <ul>
                {{#each result}}
                <li><h3 class="italic">{{username}}</h3></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>