<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-credentials">
                    <div class="panel-body">
                        <h2 class="text-center">Create a new TODO</h2>
                        <hr />
                        <div id="form-todo-category" class="form-group">
                            <input type="text" placeholder="Category" id="todo-category" class="form-control">
                        </div>
                        <div id="form-todo-state" class="form-group">
                            <select name="todo-state" id="todo-state" class="form-control">
                               <option value="false">To be done</option>
                               <option value="true">Done</option>
                           </select>
                        </div>
                        <div id="form-todo-text" class="form-group">
                            <textarea name="todo-text" id="todo-text" cols="30" rows="3" placeholder="Type some description here..." class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                            <button id="btn-create-todo" type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>